@model kodusorClient.kodusorServis.kullaniciListesi

@{
    ViewBag.Title = "KullaniciGuncelle";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>KullaniciGuncelle</h2>

<form class="col s12">
    <div class="row">
        <div class="input-field col m6 s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="kAdi" type="text" class="validate" value="@Model.Adi" />
            <label for="icon_prefix">Adınız</label>
        </div>
        <div class="input-field col m6 s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="kSoyadi" type="text" class="validate" value="@Model.Soyadi" />
            <label for="icon_prefix">Soyadınız</label>
        </div>
        <div class="input-field col m6 s12">
            <i class="material-icons prefix">email</i>
            <input id="kMail" type="text" class="validate" value="@Model.Mail" />
            <label for="icon_prefix">E-posta</label>
        </div>
        <div class="input-field col m6 s12">
            <i class="material-icons prefix">av_timer</i>
            <input id="kDogumTarihi" type="text" class="validate" placeholder="YYYY/MM/DD" value="@Model.DogumTarihi" />
            <label for="icon_prefix">Doğum Tarihi</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix" class="materialize-textarea">@Model.Hakkimda</textarea>
            <label for="icon_prefix">Hakkımda(Opsiyonel)</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <input id="kCepTel" type="tel" class="validate" value="@Model.Ceptel">
            <label for="icon_telephone">Telefon(Opsiyonel)</label>
        </div>
        <div class="input-field col m6 s12">
            <i class="material-icons prefix">mode_edit</i>
            <input id="kGithub" type="text" class="validate" value="@Model.Github">
            <label for="icon_telephone">Github(Opsiyonel)</label>
        </div>
        <div class="input-field col m6 s12">
            <i class="material-icons prefix">mode_edit</i>
            <input id="kLinkedin" type="text" class="validate" value="@Model.Linkedin">
            <label for="icon_telephone">Linkedin(Opsiyonel)</label>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light btn-large"><i class="material-icons left">mode_edit</i>Düzenle</a>
        </div>
    </div>
</form>

<script>
    $(function () {
        $("#Guncelle").click(function () {
            //TASARIM BİTTİKTEN SONRA YAZILACAK
            //$.post("../Home/GirisKontrol", { mail: mail, parola: parola }, function (sonuc) {
            //    if (sonuc == "+") {
            //        window.location = "/Profil/Index";
            //    }
            //});
        });
    });
</script>

